<% if (site.tags.length){ %>
<section class="tags-wrap">
  <h1 class="page-hd">
    <%= __('tags') %>
    <small>(<%= site.tags.length %>)</small>
  </h1>
  <div class="tags">
    <%- list_tags() %>
  </div>
</section>
<% } %>
<div style="margin-top:30px">
<% if( theme.adsense ) { %>
<%- partial('_partial/adsense', {post: page}) %>
<% } %>
</div>