<div class="adsense">
<% if( theme.adsense && theme.adsense.google_ad_client ) { %>
  <div>
  <!-- 横向广告 -->
  <ins class="adsbygoogle"
   style="display:block"
   data-ad-client="<%= theme.adsense.google_ad_client %>"
   data-ad-slot="<%= theme.adsense.google_ad_slot %>"
   data-ad-format="auto"
   data-full-width-responsive="true"></ins>
  <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
  </div>
<% } %>
<% if( theme.adsense && theme.adsense.baidu_ad_id ) { %>
  <div>
  <%= theme.adsense.baidu_ad_id %>
  </div>
<% } %>
</div>