<div class="comments">
    <div class="beaudar"></div>
<script src="https://beaudar.lipk.org/client.js"
        repo="yakeing/HexoBlog"
        branch="gh-pages"
        issue-term="title"
        theme="github-light"
        loading="false"
        crossorigin="anonymous"
        async>
</script>
</div>
